@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');
body{
    width: 1440px;
    height: 900px;
    background: #FFF;
    overflow: hidden;
}
.left{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 720px;
    height: 902px;
    flex-shrink: 0;
    background: #d8d9dae7;
}
.left .balls{
    position: absolute;
    top: 267px;
    left: 10%;
}
.left .hamb{
    position: absolute;
    top: 267px;
    left: 80%;
}
.left .bar {
    position: absolute;
    left: 50px;
    top: 289px;
    width: 80%; 
    height: 2px; 
    background: #f7fafc80;
    border-radius: 10px; 
    border: 2px
}
.bar_up{
    position: absolute;
    left: 15%;
    top: 335px;
    width: 15%; 
    height: 30px; 
    background: #E4E4E4;
    border-radius: 100px; 
    border: 2px
}
.bar_down {
    position: absolute;
    left: 170px;
    top: 380px;
    width: 20%; 
    height: 30px; 
    background: #E4E4E4;
    border-radius: 100px; 
    border: 2px
}

.persons .person_first{
    position: absolute;
    top: 450px;
    left: 160px;
}
.persons .person_second{
    position: absolute;
    top: 450px;
    left: 260px;   
}
.persons .person_third{
    position: absolute;
    top: 450px;
    left: 360px; 
}
.persons .person_fourth{
    position: absolute;
    top: 550px;
    left: 160px; 
}
.persons .person_fifth{
    position: absolute;
    top: 550px;
    left: 260px; 
}
.persons .person_sixth{
    position: absolute;
    top: 550px;
    left: 360px;
}
.rigth h2{
    position: absolute;
    top: 90px;
    left: 900px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
}
.rigth h1{
    position: absolute;
    top: 125px;
    left: 900px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 26px;
    
}

label[for="email"] {
    position: absolute;
    top: 210px;
    left: 900px;
    font-size: 16px; 
    color: #333; 
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

input[type="email"] {
    position: absolute;
    top: 250px;
    left: 890px;
    border: none; /* Remove a borda */
    padding: 10px;
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}
label[for="senha"] {
    position: absolute;
    top: 340px;
    left: 900px;
    font-size: 16px; 
    color: #333; 
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
input[type="password"] {
    position: absolute;
    top: 380px;
    left: 890px;
    border: none; /* Remove a borda */
    padding: 10px;
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}
/*label[for="lembrarSenha"] {
    position: absolute;
    top: 515px;
    left: 930px;
    font-size: 16px; 
    color: #000000; 
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}*/
/*.rounded-checkbox {
    position: absolute;
    top: 511px;
    left: 890px;
    width:25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #646566;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
  }*/

  label[for="Csenha"] {
    position: absolute;
    top: 470px;
    left: 900px;
    font-size: 16px; 
    color: #333; 
    font-weight: bold; 
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
    .rigth .cpassword {
    position: absolute;
    top: 515px;
    left: 890px;
    border: none; /* Remove a borda */
    padding: 10px;
    width: 350px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}

  .rigth p{
    position: absolute;
    top: 502px;
    left: 1130px;
    color: #2B6CB0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  input[type="submit"] {
    position: absolute;
    top: 620px;
    left: 67%;
    border: none; /* Remove a borda */
    width: 347px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #04C35C;
    color: #FFF;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.rigth .newAccount{
    position: absolute;
    top: 632px;
    left: 965px;
}




